body {
	text-shadow: 2px 3px 6px rgba(0,0,0, .4);
}

/* =============================== */
/* main color */
.gradient {
	background: -webkit-linear-gradient(45deg, #56B4D3, #4389A2, #5e35b1);
	background: -moz-linear-gradient(45deg, #56B4D3, #4389A2, #5e35b1);
	background: linear-gradient(45deg, #56B4D3, #4389A2, #5e35b1);
}

section h3,
section h2 {
	padding-top: 7%;
}

.code-typo { font-family: 'Source Code Pro', Helvetica, sans-serif; }
.typo-1 {
	color: #555;
	font-weight: normal;
}
p.typo-1 {
	font-size: 19px;
	line-height: 1.5em;
	font-weight: normal;
	text-align: center;
}
.darken-bg {
	background: rgba(0,0,0, .78);
	padding: 0 15px;
	padding-bottom: 20px;
	border-radius: 5px;
}
.typo-2 {
	font-family: 'Source Code Pro', Helvetica, sans-serif;
	color: #eaeaed;
}

/* =============================== */


.my-contacts li a {
	font-size: 15px;
}

.my-contacts li {
	display: inline-block;
	float: left;
	padding-right: 12px;
}

/* =============================== */
.skills {
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 3.5%;
}
span.typo-2 {
	font-size: 18px;
}
.progress {
	height: 25px;
}

.parallax-container#skills {
	height: 550px;
}

/* =============================== */
img.circle {
	width: 40%;
	max-width: 45% !important;
	position: relative;
	left: 28%;
	margin-top: 5em;
	margin-bottom: 0;
}

/* =============================== */
/* Other gradient */

.gradient-blue { background: linear-gradient(to right, #0072ff, #00c6ff); }

.gradient-red { background: linear-gradient(to right, #e43a15, #e65245); }

.gradient-dark-blue { background: linear-gradient(to right, #1A2980, #26D0CE); }

.gradient-purple { background: linear-gradient(to right, #480048, #C04848); }

.gradient-indigo { background: linear-gradient(to right, #4776E6, #8E54E9); }

.gradient-yellow { background: linear-gradient(to right, #F09819, #EDDE5D); }

.gradient-orange { background: linear-gradient(to right, #f83600, #fe8c00); }

.gradient-titanium { background: linear-gradient(to right, #283048, #859398); }