html,body{
	margin: 0px;
	background-color: #333;
}
.header {
  	color: #fff;
 	background-color: #159957;
  	background-image: linear-gradient(120deg, #155799, #159957); 

  	height: 200px;
  	text-align: center;
  	position: relative;
  	top: 0px;
}
.header h1{
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 35px;
	text-align: center;
	font-family: "Roboto";
	font-size: 60px;
	letter-spacing: 10;
}
.dp img{
	width: 170px;
	height: 170px;
	border-radius: 200px;
	padding: 5px;
	background-image: linear-gradient(90deg, #3399ff ,#0000e6);
}

.main-content{
	height: 460px;
}
.main-content .container{
	background-color: #fff;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 20px;
	padding-top: 460px;
	text-align: center;
}

body {
	background: lavender;
}