/*	--------------
	Main 
	--------------
*/
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*
.parent-container:before,
.parent-container:after {
	content: "";
	display: table;
}
.parent-container:after {
	clear: both;
}
.parent-container {
	background: #222;
	width: 1600px;
	*zoom: 1;
}

.main-container {
	width: 100%;
}
*/

section {
	width: 100%;
	height: 83%;
}

body {
	font-family: Helvetica, sans-serif;
	background: #222;
}

/*
	--------------
	General Section
	--------------
*/
.content {
	margin: 0 auto;
	width: 62.5%;
	border: 1px dashed #f0f;
}
h1 { font-size: 80px; }
h2 { font-size: 40px; }
h3 { font-size: 22px; }

h1,
h2,
h3 {
	padding-bottom: 15px;
}

/*
	--------------
	Clear-Fix 
	--------------
*/
.clear-fix:before,
.clear-fix:after {
	content: "";
	display: table;
}
.clear-fix:after {
	clear: both;
}
.clear-fix {
	clear: both;
	*zoom: 1;
}


/*
	--------------
	Welcome Section
	--------------
*/
.welcome-section {
	text-align: center;
}
.contact-nav {
	padding: 30px;
}
.contact-nav li {
	display: inline-block;
	margin: 10px 20px;
	vertical-align: top;
}
.contact-nav li a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

/*
	--------------
	About Me Section
	--------------
*/

.art-gallery {
	text-align: center;
}
.art-gallery > p{
	margin-bottom: 25px;
	line-height: 20px;
	font-size: 17px;
}

/*
	--------------
	Footer Section
	--------------
*/
.primary-footer {
	color: #fff;
	font-size: 14px;
	padding: 20px 22px;
	background: #222;
}
.primary-footer small {
	float: left;
	font-weight: 400;
}
.nav-footer {
	text-align: right;
}
.nav-footer li {
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}
.nav-footer li:last-child {
	margin-right: 20px;
}
.nav-footer li a { color: #999; }
.nav-footer li a:hover { color: #fff; text-decoration: none;}

/*
	--------------
	Nav/List Links
	--------------
*/
a {
	transition: .4s;
}
a:hover {
	transition: .25s;
}

