/* 
	-------------
	Section Containers
	-------------
*/
.code-gallery,
.art-gallery {
	margin: 30px 0;
	overflow: hidden;
	border: 1px dashed #f00;
}
.code-gallery h2,
.art-gallery h2{
	margin-bottom: 30px;
}

.code-gallery {
	float: left;
	padding-bottom: 10px;
	width: 45%;
}

.art-gallery {
	float: right;
	width: 50%;
}

/* 
	-------------
	divs
	-------------
*/
.code-link {
	background: #eaeaed;
	height: 102px;
	width: 130px;
	text-align: center;
	padding-top: 26px;
	border-radius: 6px;
	position: relative;
	left: 55%;

	-webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, .4);
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, .4);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, .4);

	transform: perspective(200px) rotate(15deg);
	transition: all 0.3s ease-in-out 0s;

	border: 1px dashed #ff0;
}
.code-link-offset {
	background: #2db34a;
	color: #fff;
	display: block;
	left: 50px;
	top: -70px;
	transform: perspective(200px) rotate(-15deg);
}
.code-link:hover {
	z-index: 100;
	cursor: pointer;
	transform: scale(1.4);
	transition: all 0.19s ease-in-out 0s;
	transform-style: preserve-3d;
	box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.1);
}
@keyframes spin {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
	}

a {
	text-decoration: none;
}

/*
	--------------
	Media Queries
	--------------
*/
@media screen and (max-width: 480px) {
	.content {
		width: 100%;
	}
	.code-gallery,
	.art-gallery {
		width: auto;
		float: none;
	}
}

@media screen and (max-width: 720px) {
	.content {
		width: 100%;
	}
	.code-gallery,
	.art-gallery {
		width: auto;
		float: none;
	}
}
