/*
	--------------
	container
	--------------
*/
.slider-container {
	width: 100%;
	height: 600px;
	overflow: hidden;
	background: #777;
}
#slideshow {
	height: 100%;
	width: 100%;
}
#slideshow img {
	height: 100%;
	width: 100%;
}
#pager {
	text-align: center;
	height: 120px;
	width: 100%;
	background: rgba(0,0,0, .5);
	z-index: 1000;
	opacity: .5;
	transition: all 0.3s ease-in-out 0s;
	position: relative;
	bottom: 25%;
}
#pager:hover {
	opacity: 1;
}
#prev {
	height: 120px;
	width: 120px;
	position: relative;
	float: left;
	bottom: 400px;
	margin: auto 10px;
	z-index: 1000;
}
#next {
	height: 120px;
	width: 120px;
	position: relative;
	float: right;
	bottom: 400px;
	margin: auto 10px;
	z-index: 1000;
}
#prev:hover,
#next:hover {
	cursor: pointer;
}
#pager img {
	margin: 10px 5px;
	opacity: 0.5;
	transition: all .3s ease-in-out 0s;
}
#pager img:hover {
	opacity: .89;
	transform: scale(1.2);
	z-index: 100;
	cursor: pointer;
}