/*
	--------------
	Header Section
	--------------
*/
.header {
	width: 100%;
	background: url("../img/header-bg.png");
	height: 80px;
	position: fixed;
	z-index: 2000;
}
.logo a {
	color: #fff;
	text-decoration: none;
	float: left;
	font-size: 30px;
	margin-top: 20px;
	margin-right: 10px;
	font-weight: normal;
	padding: 3px 35px;
	border: 1px solid #fff;
	border-radius: 2px;
}
.nav-header {
	width: 410px;
	float: right;
	margin-top: 20px;
}
.nav-header ul {
	list-style: none;
	display: block;
	margin: 0 auto;
}
.nav-header li {
	margin-top: 9px;
	float: left;
	padding-left: 21px;
}
.nav-header li a {
	color: #fff;
	opacity: 0.6;
	font-size: 20px;
}
.nav-header li a.active {
	color: #fff;
	opacity: 1;
	border-bottom: 3px solid #fff;
}
.nav-header li a:hover {
	color: #fff;
	opacity: 1;
}

/*
	--------------
	Slides Section
	--------------
*/

#slide1,
#slide2 {
	width: 100%;
}
#slide1 {
	background: url("../img/bg1.jpg") 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	z-index: -10;
	background-size: cover;
}
#slide2 {   
    background: #323232;
    -moz-box-shadow:    inset -2px 0 50px 10px rgba(0,0,0, .4);
    -webkit-box-shadow: inset -2px 0 50px 10px rgba(0,0,0, .4);
   	box-shadow:         inset -2px 0 50px 10px rgba(0,0,0, .4);

	color: #eee;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 100px 0;
}
#slide3 {
	background: url("../img/bg2.jpg") 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}
#slide4 {
	background: #E1F5C4;
    background: -webkit-linear-gradient(-45deg, #E1F5C4, #EDDE5D);
    background: -moz-linear-gradient(-45deg, #E1F5C4, #EDDE5D);
    background: linear-gradient(-45deg, #E1F5C4, #EDDE5D);
	color: #444;
	height: 330px;
	padding: 200px 0;
}